In [1]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np
import statsmodels.api as sm 
from sklearn.model_selection import train_test_split 

sns.set()

# Introduction 

We have a dataset of stroke incidences from <a href= 'https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset'>Kaggle</a>


# Objective 

We want to make a logistic regression on the possible event of a stroke.

# Importing data

In [2]:
raw_data= pd.read_csv('healthcare-dataset-stroke-data.csv')
raw_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [3]:
# raw_data= raw_data.drop(['id'], axis= 1) # drop id column, which has no predictive power 
# raw_data= raw_data.drop(['id', 'work_type'], axis= 1) # dropped id and work_type, since MLE iteration failed 
raw_data= raw_data.drop(['id', 'work_type','heart_disease', 'bmi', 'gender', 'ever_married', 'Residence_type', 'smoking_status'], axis= 1)

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                5110 non-null   float64
 1   hypertension       5110 non-null   int64
 2   avg_glucose_level  5110 non-null   float64
 3   stroke             5110 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 159.8 KB

In [5]:
raw_data.describe()

               age  hypertension  avg_glucose_level       stroke
count  5110.000000   5110.000000        5110.000000  5110.000000
mean     43.226614      0.097456         106.147677     0.048728
std      22.612647      0.296607          45.283560     0.215320
min       0.080000      0.000000          55.120000     0.000000
25%      25.000000      0.000000          77.245000     0.000000
50%      45.000000      0.000000          91.885000     0.000000
75%      61.000000      0.000000         114.090000     0.000000
max      82.000000      1.000000         271.740000     1.000000

There are a few Nan values in "bmi". We remove those observations:

In [6]:
raw_data= raw_data.dropna(axis=0 )

In [7]:
raw_data.describe()

               age  hypertension  avg_glucose_level       stroke
count  5110.000000   5110.000000        5110.000000  5110.000000
mean     43.226614      0.097456         106.147677     0.048728
std      22.612647      0.296607          45.283560     0.215320
min       0.080000      0.000000          55.120000     0.000000
25%      25.000000      0.000000          77.245000     0.000000
50%      45.000000      0.000000          91.885000     0.000000
75%      61.000000      0.000000         114.090000     0.000000
max      82.000000      1.000000         271.740000     1.000000

# Preprocessing

Convert non-numerical data into dummy variables:

In [8]:
data = pd.get_dummies(raw_data, drop_first=True) 
data

       age  hypertension  avg_glucose_level  stroke
0     67.0             0             228.69       1
1     61.0             0             202.21       1
2     80.0             0             105.92       1
3     49.0             0             171.23       1
4     79.0             1             174.12       1
...    ...           ...                ...     ...
5105  80.0             1              83.75       0
5106  81.0             0             125.20       0
5107  35.0             0              82.99       0
5108  51.0             0             166.29       0
5109  44.0             0              85.28       0

[5110 rows x 4 columns]

# Declaring independent and dependent variables

In [9]:
x= data.drop(['stroke'] ,axis= 1)
y = data['stroke']

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state=42)

# Splitting data into test and train data

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state=42)

# Train the model

In [12]:
x_train = sm.add_constant(x_train) # add constant column to train features 
reg_log= sm.Logit(y_train, x_train) 
results_log= reg_log.fit(maxiter= 1000000)

Optimization terminated successfully.
         Current function value: 0.150091
         Iterations 9

In [13]:
results_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 stroke   No. Observations:                 4088
Model:                          Logit   Df Residuals:                     4084
Method:                           MLE   Df Model:                            3
Date:                Thu, 04 Aug 2022   Pseudo R-squ.:                  0.1921
Time:                        08:51:59   Log-Likelihood:                -613.57
converged:                       True   LL-Null:                       -759.50
Covariance Type:            nonrobust   LLR p-value:                 5.778e-63
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                -7.5726      0.407    -18.609      0.000      -8.370      -6.775
age                   0.0701      0.006     12.168      0.000       0.059       0.081
hypertension          0.3527      0.189      1.863      0.062      -0.018       0.724
avg_glucose_level     0.0040      0.001      3.020      0.003       0.001       0.007
=====================================================================================
"""

We note, that 'heart_disease', 'bmi', 'gender', 'ever_married', 'residence type', 'smoking_status' are not significant. We remove them and make a new model.

# Compute the accuracy of our model

In [14]:
confusion_table= results_log.pred_table() # confusion table for our model 
confusion_table

array([[3901.,    0.],
       [ 187.,    0.]])

In [15]:
accuracy= (confusion_table[0,0]+ confusion_table[1,1])/confusion_table.sum()
print("Our model's accuracy:", accuracy)

Our model's accuracy: 0.9542563600782779

Very accurate. Our model explains 95% of the actual training values. Next we compute test with test values

# Test with test values

In [16]:
x_test= sm.add_constant(x_test) # adding a constant column

In [17]:
y_test

4688    0
4478    0
3849    0
4355    0
3826    0
       ..
3605    0
4934    0
4835    0
4105    0
2902    0
Name: stroke, Length: 1022, dtype: int64

In [18]:

# defining a function for confusion matrix and accuracy: returns confusion matrix and accuracy as tuple 
def confusion_matrix(data, actual_values, model): 
    
    pre_values = model.predict(data)
    bins = np.array([0,0.5,1]) 
     # Create a histogram, where if values are between 0 and 0.5 tell will be considered 0
        # if they are between 0.5 and 1, they will be considered 1
    cm = np.histogram2d(actual_values, pre_values, bins= bins)[0]
    accuracy = (cm[0,0]+ cm[1,1])/cm.sum()
    return cm , accuracy

In [19]:
confusion_matrix2= confusion_matrix(x_test, y_test, results_log)
confusion_matrix2

(array([[960.,   0.],
        [ 62.,   0.]]),
 0.9393346379647749)

In [20]:
print('Our accuracy for test values:', confusion_matrix2[1])

Our accuracy for test values: 0.9393346379647749

Excellent!

# Results

In [23]:
results_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 stroke   No. Observations:                 4088
Model:                          Logit   Df Residuals:                     4084
Method:                           MLE   Df Model:                            3
Date:                Thu, 04 Aug 2022   Pseudo R-squ.:                  0.1921
Time:                        08:57:41   Log-Likelihood:                -613.57
converged:                       True   LL-Null:                       -759.50
Covariance Type:            nonrobust   LLR p-value:                 5.778e-63
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                -7.5726      0.407    -18.609      0.000      -8.370      -6.775
age                   0.0701      0.006     12.168      0.000       0.059       0.081
hypertension          0.3527      0.189      1.863      0.062      -0.018       0.724
avg_glucose_level     0.0040      0.001      3.020      0.003       0.001       0.007
=====================================================================================
"""

With same age, and same average blood glucose, when a person have hypertension, it has 42% increased risk of getting stroke. (Though with the significance of 6% for the coefficient of the hypertension)

In [22]:
np.exp(0.3527)

1.4229042081340688

With same blood pressure profile and average glucose level, increase of one year of age, increases the risk of getting stroke by 7.3% (extremely significant predictor):

In [24]:
np.exp(0.0701)

1.0726154374350616

With same blood pressure profile and age, increase of one unit of average glucose level increases the risk of getting stroke by 0.4% (very significant predictor):

In [26]:
np.exp(0.0040)

1.004008010677342

Now we can predict the risk of getting stroke for specic age, hypertension profile and averaga glucose level.